#container {
	width: 100%;
	background-color: white;
	padding: 5% 0;
	background:#ffffff url('img/white-hardwood-floor.jpg') no-repeat;
	position: absolute;
	margin-bottom: 0px;
}

div.menuButton {
	background-color: blue;
	margin: 5% auto;
	width: 70%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    padding: 5% 0;
    zoom: 1;
	filter: alpha(opacity=75);
	opacity: 0.75;
}

p.menuButton {
	text-align: center;
	font-variant: small-caps;
	color: white;
	font-weight: 300;
	font-size: 150%;
	margin: 0;
}

.menuButton a:hover, a:visited, a:link {
	color:#FFF; 
	background:transparent;
	text-decoration:none; 
}